<head>
  <title>Kloaka Recording Studio</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8;" />
  <meta name="keywords" content="Audio, Music, Recording, Mixing, Mastering, Underground">
  <meta name="description" content="Audio/Music Production, Recording, Mixing, Mastering, Underground Audio, Underground Music">
  <meta name="google-site-verification" content="JOii6fJV7s7NL0_OOAKQW023EqmueCWd73XcUvDCeUU" />
  <META NAME="geo.position" CONTENT="41.874664; 12.523595">
  <META NAME="geo.placename" CONTENT="Italy">
  <META NAME="geo.region" CONTENT="ita">
  <link rel="shortcut icon" type="image/png" href='{{ "/assets/images/icon.png" | prepend: site.baseurl_root }}'>
  <meta name="og:title" property="og:title" content="Kloaka Recording Studio">
  <meta property="og:image" content="{{ "/assets/images/logo-white.png" | prepend: site.baseurl_root }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- javascript includes -->
  <script src='{{ "/assets/js/modernizr-custom.js" | prepend: site.baseurl_root }}'></script>
  <script src='{{ "/assets/js/jquery-3.3.1.min.js" | prepend: site.baseurl_root }}'></script>

    <!-- css includes -->
  <link rel="stylesheet" href='{{ "/css/main.css" | prepend: site.baseurl_root }}'>

</head>
